*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  background-color: rgb(13, 26, 45);
}

img{
  margin: 15px;
  width: 250px;
  height:250px;
  border-radius:10px ;
}

hr{
  margin: 5px 15px;
  border-color: rgb(134, 151, 181);
}

#card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(22, 38, 61);
  border-radius: 20px;
  width: 280px;
  box-shadow: 20px 20px 20px rgb(12, 23, 41);
}

.NFTname{
  margin: 15px;
  margin-top: 0px;
  color: white;
  font-size:1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.NFTname:hover{
  transition: .5s;
  color: rgb(55, 243, 242);
}

.NFTdescrition{
  color: rgb(134, 151, 181);
  margin:15px;
  font-size: .9rem;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.help{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icons{
  width: 15px;
  height: 15px;
}

.price{
  color: rgb(55, 243, 242);
  margin-left: -10px;
  font-size: .8rem;
  font-weight: 700;
}

.hours{
  color:rgb(134, 151, 181) ;
  margin-left: -10px;
  font-size: .8rem;
  margin-right: 20px;
}

.photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
}

.creator-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.createFor{
  color: rgb(134, 151, 181);
}

.nameCreator{
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.nameCreator:hover{
  transition: .5s;
  color: rgb(55, 243, 242);
}

#center-img{
  width: 500px;
  height: 500px;
}

#modal-NFT{
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}